main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #f0f0f0;
}

.title {
    margin-bottom: 50px;

}
.title h2{
    font-size: 2.5em;
    animation: extravagant 2.5s ease-in-out infinite;
}

.mainOptions{
    margin: 40px 0;
}
.mainOptions ul li {
    list-style: none;
    margin: 10px 0 1.2em 0;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.mainOptions ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.mainOptions ul li a:hover {
    background-color: #d0d0d0;    
}
.mainOptions ul li:hover {
    transform: scale(1.06);

}


@keyframes extravagant {
    0% {
         transform: scale(1.05) rotate(-23deg); 
        }
         
    25% {
         transform: scale(1.4) rotate(23deg);
        }
    50% {
         transform: scale(1.4) rotate(-23deg);
        }
    75% {
         transform: scale(1.4) rotate(23deg);
        }
    100% {
         transform: scale(1.05) rotate(-23deg);
        }
    }


